.advantages {
  margin-bottom: 118px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 67px;
  align-items: center;
  justify-content: space-between;
  max-width: 1685px;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  font-weight: 400;
  color: var(--color-lead);
}

.list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  padding: 87px 90px;
  background-color: var(--color-polar-bear-blizzard);
  border-radius: 21px;
}

.item {
  display: flex;
  gap: 6px;
}

.image {
  display: flex;
  align-items: start;
  justify-content: center;
  color: var(--clear-chill);
}

.image img {
  max-width: 100%;
  max-height: 100%;
}

.contentTitle {
  font-size: 24px;
  font-weight: 400;
  color: var(--color-lead);
}

.text {
  font-size: 20px;
  font-weight: 400;
  color: var(--color-dim-gray);
}

@media (width <= 440px) {
  .process {
    margin-bottom: 25px;
  }

  .container {
    gap: 16px;
    max-width: 383px;
  }

  .list {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 31px 20px;
  }

  .contentTitle {
    font-size: 12px;
  }

  .text {
    font-size: 10px;
  }
}
