.advantages {
  margin-bottom: 118px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 67px;
  align-items: center;
  justify-content: space-between;
  max-width: 1685px;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  font-weight: 400;
  color: var(--color-lead);
}

.list {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
  padding: 87px 80px;
  background-color: var(--color-polar-bear-blizzard);
  border-radius: 21px;
}

.item {
  display: flex;
  gap: 7px;
}

.image {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 55px;
  color: var(--clear-chill);
}

.contentTitle {
  font-size: 24px;
  font-weight: 400;
  color: var(--color-lead);
}

.text {
  font-size: 20px;
  font-weight: 400;
  color: var(--color-dim-gray);
}

@media (width <= 1200px) {
  .list {
    gap: 50px;
    padding: 60px 50px;
  }

  .contentTitle {
    font-size: 20px;
  }

  .text {
    font-size: 17px;
  }
}

@media (width <= 768px) {
  .advantages {
    margin-bottom: 60px;
  }

  .container {
    gap: 32px;
  }

  .title {
    font-size: 24px;
  }

  .list {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding: 40px 32px;
  }

  .contentTitle {
    font-size: 18px;
  }

  .text {
    font-size: 15px;
  }
}

@media (width <= 480px) {
  .advantages {
    margin-bottom: 32px;
  }

  .container {
    gap: 16px;
  }

  .list {
    gap: 20px;
    padding: 24px 16px;
  }

  .item {
    gap: 5px;
  }

  .image {
    width: 36px;
  }

  .contentTitle {
    font-size: 14px;
  }

  .text {
    font-size: 12px;
  }
}
