.list {
  display: flex;
  gap: 21px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.item {
  display: flex;
  flex: 1 1 175px;
  flex-direction: column;
  gap: 17px;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 20px;
  font-weight: 400;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
}

.image img {
  max-width: 100%;
  max-height: 100%;
}

@media (width <= 440px) {
  .container {
    max-width: 383px;
  }

  .item {
    gap: 4px;
  }

  .text {
    font-size: 8px;
  }

  .image {
    width: 50px;
    height: 50px;
  }
}
