:root {
  --color-black: black;
  --color-white: white;
  --color-red: red;
  --color-gray: gray;
  --color-blue: #b5c9df;
  --pearl-blackberry: #707070;
  --shadow-color: #0000001a;
  --smoky-white: #eef2f5;
  --clear-chill: #2096ff;
  --cloudless: #d8edff;
}
