.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  max-width: 1685px;
  padding: 50px 0;
  margin: 0 auto;
  background-color: var(--color-polar-bear-blizzard);
  border-radius: 21px;
}
