.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  max-width: 1685px;
  padding: 50px 0;
  margin: 0 auto;
  border-radius: 21px;
}

.title {
  font-size: 24px;
  font-weight: 400;
}

.carousel {
  width: 100%;
}

@media (width <= 440px) {
  .container {
    gap: 15px;
    max-width: 380px;
    padding: 14px 0;
  }
}
