.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  max-width: 1685px;
  padding: 50px 0;
  margin: 0 auto;
  border-radius: 21px;
}

.title {
  font-size: 24px;
  font-weight: 400;
}

.carousel {
  width: 100%;
}

@media (width <= 768px) {
  .container {
    gap: 28px;
    padding: 32px 0;
  }

  .title {
    font-size: 20px;
  }
}

@media (width <= 480px) {
  .container {
    gap: 16px;
    padding: 16px 0;
  }

  .title {
    font-size: 18px;
  }
}
