.header {
  padding: 26px 0;
}

.container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  max-width: 1685px;
  margin: 0 auto;
}

.title {
  padding: 12px 19px;
  font-size: 27px;
  font-weight: 600;
  color: var(--clear-chill);
  white-space: nowrap;
  border: 2px solid var(--clear-chill);
  border-radius: 4px;
}

.information {
  display: flex;
  gap: 79px;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.item {
  font-size: 18px;
  font-weight: 400;
}

.itemSteel {
  color: var(--color-steel);
}

.btn {
  padding: 18px 14px;
  font-size: 16px;
  font-weight: 600;
  color: var(--clear-chill);
  background-color: var(--cloudless);
  border-radius: 12px;
}

.btn:hover {
  box-shadow: 0 1px 11px 1px var(--color-indigo-carmine-30);
}

.btn:active {
  box-shadow: 0 1px 11px 1px var(--color-indigo-carmine-30);
}

@media (width <= 440px) {
  .container {
    gap: 15px;
    max-width: 383px;
  }

  .title {
    padding: 5px 7px;
    font-size: 14px;
  }

  .information {
    flex-direction: column;
    gap: 20px;
  }

  .list {
    gap: 20px;
  }

  .item {
    font-size: 11px;
  }

  .btn {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
  }
}
