.header {
  padding: 26px 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1685px;
  margin: 0 auto;
}

.title {
  padding: 12px 19px;
  font-size: 27px;
  font-weight: 600;
  color: var(--clear-chill);
  border: 2px solid var(--clear-chill);
  border-radius: 4px;
}

.information {
  display: flex;
  gap: 79px;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 18px 14px;
  font-size: 16px;
  font-weight: 600;
  color: var(--clear-chill);
  background-color: var(--cloudless);
  border-radius: 12px;
}
