.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  font-family: Mulish, sans-serif;
}

.main {
  flex: 1 1 auto;
  padding-top: 34px;
  padding-bottom: 152px;
  background-color: var(--color-alice-blue);
}
