.services {
  margin-bottom: 34px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;
  justify-content: center;
  max-width: 1685px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 0 auto;
  background-color: var(--color-polar-bear-blizzard);
  border-radius: 21px;
}

.title {
  font-size: 24px;
  font-weight: 400;
  color: var(--color-lead);
}

@media (width <= 768px) {
  .container {
    gap: 20px;
    padding: 20px 16px;
  }

  .title {
    font-size: 20px;
  }
}

@media (width <= 480px) {
  .services {
    margin-bottom: 20px;
  }

  .container {
    gap: 16px;
    padding: 16px 12px;
  }

  .title {
    font-size: 18px;
  }
}
